<html>
<head>
    <title>社情民意采集与管理系统</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<header>
    <div class="title">社情民意公布榜 <span style="float: right"><a href="/sqmy/frontend/login">登录</a></span></div>
</header>
<div class="sqmygsb">
    <input type="hidden" name="pageindex" id="pageIndex" value="1"/>
    <ul id="fabulist">
    </ul>
    <div style="text-align: center">
       <span id="syy"><</span>&nbsp;&nbsp;&nbsp;<span id="yyy">></span>
    </div>
</div>
<div style="float: left;font-family: 仿宋;font-size: small">CopyRight © 2020湖北工程学院 版权所有<br>
    地址：湖北省孝感市交通大道272号<br>
    电话：15926818069　技术支持：湖北工程学院</div>
</body>
<script type='text/javascript' src="../js/jquery.js"
        charset='utf-8'></script>
<script type='text/javascript' src='../js/index.js' charset='utf-8'></script>
</html>