<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>
    <title>社情民意采集与管理系统</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/sqmyfabulist.css">
</head>
<body>
<header>
    <span><a href="/sqmy/index">主页</a></span>

</header>
<div class="sqmygsb">
    <div class="title">社情民意公布榜列表</div>
    <input type="hidden" name="pageindex" id="pageIndex" value="1"/>
    <ul id="fabulist">
    </ul>
    <div style="text-align: center">
       <span id="syy"><</span>&nbsp;&nbsp;&nbsp;<span id="yyy">></span>
    </div>
</div>
</body>
<script type='text/javascript' src="js/jquery.js"
        charset='utf-8'></script>
<script type='text/javascript' src='js/index.js' charset='utf-8'></script>
</html>