<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<link rel="stylesheet" href="../css/backend/manage.css">
	<link rel="stylesheet" href="../css/backend/style.css">
</head>
<body>
<div class="header-nav">
	<div class="contain">
		<ul class="nav-list">
			<li>
				<a href="/sqmy/frontend/index">首页<span class="trig"></span></a>
			</li>
			<li>
				<a href="/sqmy/backend/manage">民意管理<span class="trig"></span></a>

			</li>
			<li>
				<a href="/sqmy/backend/categorymanage">类别管理<span class="trig"></span></a>

			</li>
			<li>
				<a href="/sqmy/backend/bsdwmanage">报送单位管理<span class="trig"></span></a>

			</li>
			<li>
				<a href="/sqmy/backend/usermanage">用户管理<span class="trig"></span></a>

			</li>
		</ul>
	</div>
</div>
<div class="bsdw"id="bsdw" style="text-align: center;">
<p><button id="addbsdw">增加报送单位</button></p>
<span class="caozuobs"></span><br>
<table id="baswlist">
</table>

</div>
</body>
<script type='text/javascript' src="../js/jquery.js"
		charset='utf-8'></script>
		 <script type='text/javascript' src='../js/backend/bsdw.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/common/commonutil.js' charset='utf-8'></script>
</html>