<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>社情民意管理</title>
    <link rel="stylesheet" href="../css/backend/manage.css">
    <link rel="stylesheet" href="../css/backend/style.css">
    <link rel="stylesheet" href="../css/backend/dropmenu.css">
</head>
<body>
<div class="header-nav">
    <div class="contain">
        <ul class="nav-list">
            <li>
                <a href="/sqmy/frontend/index">首页<span class="trig"></span></a>
            </li>
            <li>
                <a href="/sqmy/backend/manage">民意管理<span class="trig"></span></a>

            </li>
            <li>
                <a href="/sqmy/backend/tongjitu">民意统计<span class="trig"></span></a>

            </li>
            <li>
                <a href="/sqmy/backend/categorymanage">类别管理<span class="trig"></span></a>

            </li>
            <li>
                <a href="/sqmy/backend/usermanage">用户管理<span class="trig"></span></a>

            </li>
        </ul>
    </div>
</div>
<div class="tongji">
    <div id="tongjitu">
    <div style="display: inline-block">
        <p>柱形图</p>
        <div id="zhuxing" style="width: 400px;height:400px;"></div>
    </div>
        <div style="display: inline-block">
            <p>折线图</p>
            <div id="zhexian" style="width: 900px;height:400px;"></div>
        </div>



</div>
</div>
</body>
<script src="https://cdn.bootcss.com/echarts/4.6.0/echarts-en.common.js"></script>
<script type='text/javascript' src="../js/jquery.js"
        charset='utf-8'></script>
<script type='text/javascript' src='../js/backend/tongjitu.js' charset='utf-8'></script>
</html>