<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<link rel="stylesheet" href="../css/backend/manage.css">
	<link rel="stylesheet" href="../css/backend/style.css">
</head>
<body>
<div class="top-head">
	<div class="header-nav">
		<div class="contain">
			<ul class="nav-list">
				<li>
					<a href="/sqmy/frontend/index">首页<span class="trig"></span></a>
				</li>
				<li>
					<a href="/sqmy/backend/manage">民意管理<span class="trig"></span></a>

				</li>
				<li>
					<a href="/sqmy/backend/tongjitu">民意统计<span class="trig"></span></a>

				</li>
				<li>
					<a href="/sqmy/backend/categorymanage">类别管理<span class="trig"></span></a>

				</li>
				<li>
					<a href="/sqmy/backend/usermanage">用户管理<span class="trig"></span></a>

				</li>
			</ul>
		</div>
	</div>
	<div id="user" style="text-align: center">
		<span><button id="adduser">增加用户</button></span><br>
		<span class="caozuouser"></span><br></div>
</div>
<div class="container">
	<table id="userlist">
	</table>
</div>
</body>
<script type='text/javascript' src="../js/jquery.js"
		charset='utf-8'></script>
		 <script type='text/javascript' src='../js/backend/user.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/common/commonutil.js' charset='utf-8'></script>
</html>