<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>社情民意采集与管理系统</title>
	<link rel="stylesheet" href="../css/backend/zhengwen.css">
</head>
<body>
<div><a href="#"  onClick="javascript :history.back(-1);">返回</a></div>
<div class="content">
	<div class="title"><span id="sqmytitle"></span><br><span id="xxly"></span><span  id="fj" class="fj"></span><br><span id="bz"></span></div>
	<div  class="zhengwen" id=zhengwen></div>
</div>
</body>
<script type='text/javascript' src="../js/jquery.js"
		charset='utf-8'></script>
		 <script type='text/javascript' src='../js/backend/zhengwen.js' charset='utf-8'></script>
		  <script type='text/javascript' src='../js/common/commonutil.js' charset='utf-8'></script>
</html>